{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur le blog de Symfony</h1>
    <h3>Nous vous souhaitons une bonne visite sur notre site</h3>
    <h3 class="mt-5">Liste des 10 derniers articles : </h3>
    <ul class=" ">
        {% for article in articles %}
            <ul class="p-2">
                <div class="border p-2 bg-light mt-4 mb-4"><h4>{{ article.titre }}</h4>
                    <p class="font-italic mb-5">écrit le : {{ article.createdAt|date('d/m/Y') }}</p>
                    <a class="btn btn-success" href="{{ path('app_article_slug', {'slug': article.slug}) }}">Detail</a>

                </div>
            </ul>
            {% endfor %}
    </ul>
{% endblock %}
