<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Reception d'un Email Coucou c'est moi</h1>
<p>Ceci est un test d'envoi d'email a partir d'un template</p>
<button>test</button>
</body>
</html>